<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Event</title>
  <link rel="stylesheet" href="../styles/create.css">
  <script type = "text/javascript" src="../js/createEvent.js"></script>
</head>
<body>
<div class="Event">
  <fieldset>
    <legend>Event</legend>
    <label for="date">Date</label><br>
    <input type="date" id="date"><br>
    <label for="description">Description</label><br>
    <textarea id="description" placeholder="Add Description"></textarea><br>
    <input type="submit" id="createButton" value="Create">
  </fieldset>
</div>
</body>
</html>